java/workspace/RemoteSystemsTempFiles/*
java/workspace/.metadata/*
java/workspace/steam-game-gauntlet/steam-game-gauntlet-ear/.settings/*
java/workspace/steam-game-gauntlet/steam-game-gauntlet-ejb/.settings/*
java/workspace/steam-game-gauntlet/steam-game-gauntlet-web/.settings/*
java/workspace/steam-game-gauntlet/.settings/*
__pycache__
*.png
.idea/
.idea
target/
.settings
java/Epam/hiveudf/.classpath
java/Epam/hiveudf/.project
.classpath
.project
